container-purple {
}
.pageTitle {
  color: #fed352;
}
.subTitle {
  color: black;
}
.title {
  color: #512b5b;
}

.content {
  text-align: justify;
  color: #fed352;
}
.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
